<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Durchschnittsrechner</title>
</head>
<body>

<form th:action="@{/start}" method="post">
    <input type="text" name="notenEingabe" id="notenEingabe" placeholder="Note" value="">
    <input type="text" name="notenFach" id="notenFach" placeholder="Fach" value="">

    <input type="submit" value="Durchschnitt">

</form>

<h1 th:text="${average}" />

<br>
<form th:action="@{'/users/' + ${currentUser.id}}" method="post">
    <input type="submit" class="btn btn-outline-secondary"	value="profile">
</form>

</body>
</html>